@model IEnumerable<SchoolManagement.Models.Enrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enrollments</h2>

<p>
    @Html.ActionLink("Create New", "Create","Enrollment", new { @class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teacherID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.grade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.firstName )
            @Html.DisplayFor(modelItem => item.Student.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.firstName)
            @Html.DisplayFor(modelItem => item.Teacher.lastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.enrollmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.enrollmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.enrollmentID })
        </td>
    </tr>
}

</table>
